@font-face { font-family: CSPrajad; src: url('assets/fonts/CSPraJad\ v2.otf'); }
@font-face { font-family: CSPrajadBold; src: url('assets/fonts/CSPraJad-bold\ v2.otf'); }

/* Root */
:root {
    --blue: #001B7C;
    --red: #FF3A21;
    --red-hover: #B9210E;
    --white: #ffffff;
    scroll-behavior: smooth;
}

@font-face { font-family: CSPrajad; src: url('assets/fonts/CSPraJad\ v2.otf'); }
@font-face { font-family: CSPrajadBold; src: url('assets/fonts/CSPraJad-bold\ v2.otf'); } 

body  {
    font-family: CSPrajad;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* gradient */
.blue-to-white-gra{
    background: linear-gradient(180deg, var(--blue) 0%, var(--white) 100%);
    width: 100%;
    height: 100%;
}

.none{display: none;}

.bold{display: inline; font-family: CSPrajadBold; margin: 0;}

/* Section */
.part-number{
  color: white;
  font-size: 60px;
  font-family:  'Pridi', serif;
  /*position: relative;
  top: 45%;*/
}
.part-name{
  color: var(--red);
  font-size: 100px;
  font-family:  'Pridi', serif;
  /*text-align: center;
  position: relative;
  top: 48%;*/
}
<<<<<<< HEAD
.monologue{
    /* it's actually just for containers but i cant bother changing all the class name, swag */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
=======
.part-title{
    background-color: var(--blue);
    height: 100%;
}

.blue-to-white-gra{background: linear-gradient(180deg, var(--blue) 0%, var(--white) 100%);}
.white-to-blue-gra{background: linear-gradient(180deg, var(--white) 0%, var(--blue) 100%);}
.text{font-size: 3vw;}
.responseText,.responseCircleText {font-size: 2.5vw;}
.circleText{font-size: 1.5vw;}
.badText{font-size: 2vw;}
.goodText{font-size: 1.3vw;}

.choices-grid-1{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 20px;
    padding: 1vh;
}
.choices-grid-2{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding: 5vh 10vw;
}
.choices-grid-3 {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    row-gap: 5vh;
    padding: 10vh 5vw 0;
}
.choices-button{
    height: auto;
    padding: 10px;
>>>>>>> 96583e9 (Add files via upload)
    font-size: 30px;
    color: black; 
}
.monologue-text{
    /* this limit the text to only takes up 50% of the screen */
    width: 50%;
}

.before-twist-text{
  /* this limit the text to only takes up 50% of the screen */
  width: 50%;
  left: 10%;
}

.twist-text{
  /* this limit the text to only takes up 50% of the screen */
  color: #b00000;
  font-weight: bold;
  width: 20%;
  position: absolute;
  top: 10%;
  right: 25%;
}

.bottom-text{
  /* this limit the text to only takes up 50% of the screen */
  color: #000000;
  width: 20%;
  position: absolute;
  top: 10%;
  right: 25%;
  gap: .5px;
  
}
.friend-conversation-text{
  /* this limit the text to only takes up 50% of the screen */
  color: #000000;
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  padding: 30px;
  border: 2px solid rgb(0, 0, 0);
}
.responseCircle{
    width: 100%;
    height: 40vw;
    text-align: center;
    align-items: center;
    display: flex;
}

.circle{
    position: absolute;
    height: 45%;
    width: 14%;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--white);
    z-index: 10;
}
#circle-1 {left: 10%; margin-top: -10%;}
#circle-2 {right: 12%; margin-top: -16%; height: 60%; width: 16%;}
#circle-3 {left: 20%; margin-top: -10%; height: 35%; width: 13%;}
#circle-4 {right: 10%; margin-top: -10%;}
#circle-5 {right: 28%; margin-top: -10%; height: 50%; width: 14%;}

.badword{
  position: absolute;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 10;
}
.part-3-panel{
  margin-top: 3vh;
  width: 80%;
}
.part-3-choice-button{
  margin: 4vh 10vh 0vh 10vh;
  width: 25%;
  height: 10vh;
  font-size: 20px;
  padding: 10px;
  font-family: CSPrajad;
  color: var(--white);
  background-color: var(--red);
  border-radius: 30px;
  border: none;
}
#part-0-section-4{
  /*Chapter Title*/
  background-color: var(--blue);
  width: 100%;
  height: 200%;
}
#part-3-section-1{
    /*Strang question?*/
    background-color: var(--white);
    width: 100%;
    height: 100%;
}
#part-3-section-2{
    /*I can def pass the interbiew*/
    background-color: var(--white);
    width: 100%;
    height: 100%;
}
#part-3-section-3{
    /*Until....*/
    background-color: var(--white);
    width: 100%;
    height: 100%;
}
#part-3-section-4{
  /*I can def pass the interbiew*/
  background-color: var(--white);
  width: 100%;
  height: 100%;
}
#part-3-section-5{
  /*I can def pass the interbiew*/
  background-color: var(--white);
  width: 100%;
  height: 100%;
}
#part-3-section-6{
  /*I can def pass the interbiew*/
  background-color: var(--white);
  width: 100%;
  height: 100%;
  gap: .5px;
}
#part-3-section-7{
  /*Until....*/
  background-color: var(--white);
  width: 100%;
  height: 200%;
  margin-bottom: 50px;
  align-items: end;
}
#part-3-section-8{
  background-color: var(--white);
  margin-bottom: 50px;
  width: 100%;
  height: 50%;
}

<<<<<<< HEAD
#part-3-section-9{
  background-color: var(--white);
  width: 100%;
  height: 200%;
}
=======
.goodword{
    position: absolute;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 10;
  }
#goodword-1 {left: 54%; margin-top: 19.5%;}
#goodword-2 {left: 55%; margin-top: 40.5%;}

/*Specific Section*/
#section-3{height: 150%;}
#section-8{height: 150%;}
#section-12{height: 150%;}
#section-15{height: 150%;}
#section-18{height: 180%;}
#section-36{height: 250%;}
#section-39{height: 180%;}
#section-48{height: 150%;}

/*Image*/
#img-1 {width: 80%;}
#img-2 {width: 90%;}
#img-3 {width: 100%;}
#img-4 {width: 50%; margin-left: -30vw;}
#img-5 {width: 50%; margin-left: 30vw;}
#img-6 {width: 90%;}
#img-7 {width: 100%;}
#img-8 {width: 80%;}
#img-9 {width: 80%;}
#img-10 {width: 90%;}
#img-11 {width: 50%;}
#img-12 {width: 90%;}
#img-13 {width: 100%;}
#img-14 {position: absolute; width: 40%;}
#img-15 {position: relative; width: 30%; left: 5%; margin-top: 21%;}
#img-16 {width: 40%;}
#img-17 {width: 40%;}

/* Animation */
.reveal {position: relative; opacity: 0;}
.reveal.active {opacity: 1;}
.active.from-bottom {animation: fade-bottom 0.5s ease-in;}
.active.from-top {animation: fade-top 0.5s ease-in;}
.active.from-left {animation: fade-left 0.5s ease-in;}
.active.from-right {animation: fade-right 0.5s ease-in;}
.active.from-right-slow {animation: fade-right 1s ease-in;}
.active.from-right-slower {animation: fade-right 1.5s ease-in;}
.active.from-right-slowest {animation: fade-right 2s ease-in;}
.active.from-right-snail {animation: fade-right 2.5s ease-in;}
.active.from-right-me-when-working-speed {animation: fade-right 1000s ease-in;}/* Don't use this one*/

.revealAbs {opacity: 0;}
.revealAbs.active {opacity: 1;}
>>>>>>> 96583e9 (Add files via upload)

#part-3-section-10{
  position: relative;
  background-color: var(--white);
  width: 125%;
  height: 220%;
  right: 60px;
  margin: -38%;
}
#part-3-section-11{
  background-color: var(--white);
  width: 100%;
  height: 200%;
}
#part-3-section-12{
  background-color: var(--white);
  width: 100%;
  height: 200%;
}
#part-3-section-13{
  background-color: var(--white);
  width: 100%;
  height: 200%;
}
#part-3-section-14{
  background-color: var(--white);
  width: 100%;
  height: 200%;
}
#part-3-section-15{
  background-color: var(--white);
  width: 100%;
  height: 200%;
}
#part-3-section-16{
  /*Until....*/
  background-color: var(--white);
  width: 100%;
  height: 200%;
  margin-bottom: 50px;
  align-items: end;
}
/* related to fade to show gimmick */
.reveal {
    position: relative;
    opacity: 0;
  }
  
.reveal.active {
  opacity: 1;
}
.active.from-bottom {
  animation: fade-bottom 0.5s ease-in;
}
.active.from-top {
  animation: fade-top 0.5s ease-in;
}
.active.from-left {
  animation: fade-left 0.5s ease-in;
}
.active.from-right {
  animation: fade-right 0.5s ease-in;
}
@keyframes fade-bottom {
    0% {transform: translateY(50px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
@keyframes fade-top {
    0% {transform: translateY(-100px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
@keyframes fade-left {
    0% {transform: translateX(-100px);opacity: 0;}
    100% {transform: translateX(0);opacity: 1;}
}
@keyframes fade-right {
    0% {transform: translateX(100px);opacity: 0;}
    100% {transform: translateX(0);opacity: 1;}
}

.panel-none{
  display: none;
}
.panel-show{
  display:flex;
}

.part-3-respond-container{
  position: relative;
}
.respond-1{
  color: #000000;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  padding: 30px;
  border: 2px solid rgb(0, 0, 0);
}
.respond-2{
  color: #000000;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  padding: 40px;
  border: 2px solid rgb(0, 0, 0);
}
.respond-3{
  color: #000000;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  padding: 30px;
  border: 2px solid rgb(0, 0, 0);
}

.sec2-img-1{
  position: relative;
  width: 40%;
}

.sec13-img-1{
  position: relative;
  width: 35%;
  bottom: 40%;
  left: 10%;
}

.sec13-img-2{
  position: relative;
  width: 35%;
  right: 10%;
}

