@font-face { font-family: CSPrajad; src: url('../assets/fonts/CSPraJad\ v2.otf'); }
@font-face { font-family: CSPrajadBold; src: url('../assets/fonts/CSPraJad-bold\ v2.otf'); }

::selection{
  background-color: pink;
  color: white;
}
*{
    box-sizing: border-box;
    font-family: CSPrajad;
    text-decoration: none;
    /* transition: all .3s; */
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
:root {
    --blue: #001B7C;
    --red: #FF3A21;
    --white: #ffffff;
}

/* ส่วนของตรงนี้จะ เป็น class ที่ควรทำความเข้าใจเพราะจะใช้ร่วมกันหลายๆ section*/ 
section{
  width: 100%;
  height: 100%; /* ความกว้างยาวของแต่ละ section */
}
.story{
  height: 125% !important; /* ส่วนclassของเนื้อเรื่องให้ยาว 125% ถ้าเลื่อนแล้วแต่ละหน้าดูยาวไปให้ปรับตรงนี้*/
}
.img-vertical{
  width: 25vw; /* ขนาดรูปที่ยาวแนวตั้ง ตอนหน้าจอ < 960px*/
}
.img-horizontal{
  width: 60vw;
}
.img-square{
  width: 50vw;
}
.choice{
  height: 150% !important;
}

/* จบ ต่อไปไม่ต้องรู้ก็ได้ */
.all-details-book{
  display: flex;
}
.part-title, .story, .choice, .flex-center{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /* แค่ทำให้เนื้อหาอยู่ตรงกลางไม่มีอะไรมาก */
}
.part-number{
  color: white;
  font-size: 4vw;
  font-family:  'Pridi', serif; /* เป็นcss ของ class ที่บอก part ที่เท่าไหร่ อยู่หน้าแรกของเว็บ */
}
.part-name{
  color: var(--red);
  font-size: 7vw;
  font-family:  'Pridi', serif; /* เป็นcss ของ class ที่บอกชื่อ part อยู่หน้าแรกของเว็บ */
}

#section-1{
  background-color: var(--blue); /* สีพื้นหลังของหน้า part two */
}
#section-2{
  height: 200%; /* ความยาวของหน้า "ฉันทำงานมา 5 ปีแล้ว" */
}
#section-5{
  height: 500% !important;
}
#section-11 > div, #section-12, #section-13, #section-22, #section-23, .bias{
  flex-direction: column;
  gap: 2rem; /* section 11 ให้รูปกับข้อความอยู่คนละบรรทัด + กับเว้นช่องว่างระหว่างกัน */
}
#section-11{
  height: 375% !important;
}
#section-11 > div{
  display: flex;
}
#section-12{
  height: 150% !important;
}
#section-13{
  height: 200% !important;
  position: relative;
}
.bias{
  height: 180% !important;
  gap: 1rem !important;
}
#section-16{
  height: 150% !important;
}
#section-17{
  height: 150% !important;
}
#section-22 .text-question, #section-23 .text-question, #section-33 .text-question{
  color: #D4145A;
}
#section-43{
  background: linear-gradient(180deg, var(--white) 0%, var(--blue) 300%);
}
#section-44{
  background: linear-gradient(180deg, var(--white) -100%, var(--blue) 200%);
}
.final-section{
  position: relative;
  height: 50%;
  background: linear-gradient(180deg, var(--white) -200%, var(--blue) 100%);
}
.story-details{
    display: flex;
    justify-content: center;
    align-items: center;  /* ทำไว้เพราะ section 8 อยากให้ตัวอักษรที่อยู่ข้างๆรูปอยู่ตรงกลาง */
}
.bias-details{
  width: 35rem;
}
.bias-details2{
  width: 75vw;
}
.bias-img{
  width: 30vw;
  margin-bottom: 1rem;
}
#img-1{
  width: 70vw; /* width ของรูปแรกที่ฝากสอนงานน้อง */
}
#img-sec22{
  overflow: hidden;
  width: 90vw;
}
#no-book{
  height: 32.3vw; /* ภาพกองหนังสืออันแรกที่ยังไม่มีหนังสือภาพมันไม่เท่ากับอันอื่น */
  margin-right: 2rem;
}
#postit1{
  margin-left: -10%;
  margin-bottom: -10%;
  z-index: 0;
}
#postit2{
  margin-right: -15%;
  margin-top: -15%;
}
#idphoto{
  position: absolute;
  width: 1.5vw;
  left: 50%;
  bottom: 42%;
}
#phone{
  transform: scale(1.3, 1.3);
  position: relative;
  width: 30vw;
}
.phone-shake{
  animation: shaking-phone 1.5s ease-in infinite;
}
.book{
  height: 34vw;
  position: absolute !important;
  margin-right: 5rem;
  transition: opacity .3s;
}
.posit{
  position: absolute !important;
}
#phone-background{
  background-image: url(../assets/img/PART2/PART2_5\(croped\).png);
  background-size: 100% 100%;
  width: 80vw;
  height: 30vw;
}

.text{
  font-size: 5vw; /* class ของข้อความที่ปรากฎบนหน้าจอไม่ใช่ในกรอบคำพูด */
}
.text-question{
  font-size: 3rem;
}
.text-details{
  font-size: 2.5vw;
}
.words-ans{
  font-size: 1.2vw !important;
  font-weight: 600;
}
.word-bubble{
    height: 110%; /* ถ้าใช้ % จะอิงจาก div แม่ ซึ่ง divแม่จะมีขนาดเท่ากับเนื้อหา เช่นรูป สามารถใช้ vw เพื่อง่ายต่อการทำ responsive ได้ */
    width: 32%;
    border: 1px solid black;
    position: absolute !important;
    background-color: white;
    border-radius: 50%;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;/* กรอบคำพูด */
}
#section-16 .word-bubble{
  width: 32%; /* ปรับขนาดสำหรับ section-16 */
  height: 45%;
}
#section-17 .word-bubble{
  width: 32%; /* ปรับขนาดสำหรับ section-17 */
  height: 90%;
}
#section-24 .word-bubble{
  width: fit-content; /* ปรับขนาดสำหรับ section-24 */
  height: 50%;
}
#section-30 .text{
  border: solid;
  padding: 1.8rem;
}
#section-12 > div{
  position: relative;
}
#section-35 > div > .bias-img{
  width: 25vw;
}
#position{
  position: absolute;
  bottom: 38%;
  left: 42%;
  font-size: .7vw;
  font-weight: bold;
}
#com{
  position: absolute;
  width: 35vw;
  margin-left: -16.7%;
  margin-top: -17.5%;
  z-index: 1;
}
.q{
  display:grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  width: 50vw;
}
.img-2-q{
  width: 40vw;
}
.button-ans{
  height: 7vw;
  padding: 1.5rem;
  border-radius: 100px;
  background-color: #D4145A;
  color: var(--white);
  transition: all .13s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}
.button-ans:hover{
  background-color: #a1073f;
  animation: button-ans .3s linear infinite;
}
.button-ans-wrap{
  transition: all .2s;
}
.button-ans-wrap:hover{
  transform: scale(1.1, 1.1);
}
.button-ans-wrap:active{
  transition: all .15s;
  transform: scale(.9, .9);
}
.bias-header{
  color: #D4145A;
  font-size: 2.5rem !important;
}
.bias-text{
  font-size: 2rem !important;
}
.words{
  font-size: 1.8vw;
}
.words-bigger{
  font-size: 2vw;
}
#word-buble-1{
    margin: auto;
    left: 0;
    right:0;
    bottom: -80%; /* ปรับตำแหน่งของกรอบคำพูดอันแรก ซึ่ง div แม่ขนาดเท่ารูป รูปจึงเปรียบเสมือน parent ที่ไว้ใช้ ref*/
}
#word-buble-2{
  margin: auto;
  left: -40%;
  right:0;
  bottom: 80%; /* ตำแหน่งสำหรับ section 16 */
}
#word-buble-3{
  margin: auto;
  left: 40%;
  right:0;
  bottom: 80%; /* ตำแหน่งสำหรับ section 17 */
}
#word-buble-4{
  width: 18vw !important;
  margin: auto;
  left: -80%;
  right:0;
  bottom: 70%; /* ตำแหน่งสำหรับ section 24 */
}
#button-phone{
  width: 25vw;
  height: 10vw;
  background-color: #D9D9D9;
  border-radius: 100px;
  margin-top: 20rem;
  cursor: pointer;
  transition: all .2s;
}
.button-phone-animate{
  animation: shaking 1.5s ease-in infinite;
}
#button-phone:hover{
  background-color: #AEAEAE;
}
#button-phone:active{
  top: 1%;
}
.img-1-bi{
  position: absolute;
  width: 20vw !important;
}
.abs{
  position: absolute;
}
.obj-1{
  width: 12vw;
  top: 5%;
  left: 6%;
}
.obj-2{
  width: 12vw;
  top: 8%;
  left: 57%;
}
.obj-3{
  width: 11.5vw;
  top: -19.5%;
  left: 6%;
}
.obj-4{
  width: 6.3vw;
  bottom: 4.8%;
  left: 66%;
}
.obj-5{
  width: 38vw;
  bottom: 28%;
  right: -15%;
}
.obj-6{
  width: 18vw;
  bottom: 15%;
  left: 0%;
}
.obj-7{
  width: 16vw;
  bottom: 5%;
  right: 5%;
}
.obj-8{
  width: 20vw;
  bottom: 5%;
  right: 15%;
  left: 15%;
}
.obj-1-animate{animation: obj-1 1s linear infinite;}
.obj-2-animate{animation: obj-2 1s linear infinite;}
.obj-3-animate{animation: obj-3 2.5s linear forwards;}
.obj-4-animate{animation: obj-4 2.5s linear forwards;}
.obj-5-animate{animation: obj-5 2s linear infinite;}
.obj-6-animate{animation: obj-6 2s linear infinite;}
.obj-7-animate{animation: obj-6 2s linear infinite;}
.obj-8-animate{animation: obj-8 5s linear infinite;}
@keyframes obj-1{
  0%, 100%{transform: scale(1, 1);}
  50%{transform: scale(1.2, 1.2);}
}
@keyframes obj-2{
  0%, 100%{transform: scale(1, 1);}
  50%{transform: scale(.8, .8);}
}
@keyframes obj-3{
  0%{transform: scale(1, 1);}
  100%{transform: scale(1.2, 1.2) translate(5%, -8%)}
}
@keyframes obj-4{
  0%{transform: scale(1, 1);}
  100%{transform: scale(.8, .8) translateY(12%);}
}
@keyframes obj-5{
  0%, 100%{transform: scale(1, 1);}
  50%{transform: scale(.8, .8); bottom: 28%; right: -15%;}
}
@keyframes obj-6{
  0%, 100%{transform: translateY(0);}
  50%{transform: translateY(20px);}
}
@keyframes obj-8{
  0%, 80%{transform: scale(1, 1); bottom: 5%;}
  30%{transform: scale(.85, .85); bottom: .5%;}
  50%{transform: scale(.85, .85); bottom: .5%;}
}

.button-to-part1{
  display: block;
  background-image: url(../assets/img/PART2/Back-to-part1.png);
  background-size: cover;
  width: 6vw;
  height: 6vw;
  bottom: 5%;
  position: absolute;
  left: 5%;
}
.button-to-part3{
  display: block;
  background-image: url(../assets/img/PART2/Go-to-part3.png);
  background-size: cover;
  width: 6vw;
  height: 6vw;
  bottom: 5%;
  position: absolute;
  right: 5%;
}

/* ในส่วนของข้างล่างจะเป็น อารมณ์คล้ายๆ frame work นั่นแหละ */

/* gradient */
.panel-none{
  display: none;
}
.hide{
  opacity: 0;
}
.bold{
  font-weight: bold;
}
.blue-to-red-gra{
    background: linear-gradient(180deg, var(--blue) 0%, var(--red) 100%);
    width: 100%;
    height: 100%;
}
.red-to-blue-gra{
    background: linear-gradient(180deg, var(--red) 0%, var(--blue) 100%);
    width: 100%;
    height: 100%;
}
.blue-to-white-gra{
    background: linear-gradient(180deg, var(--blue) 0%, var(--white) 100%);
    width: 100%;
    height: 100%;
}
.white-to-blue-gra{
  background: linear-gradient(180deg, var(--white) 0%, var(--blue) 100%);
  width: 100%;
  height: 100%;
}


/* responsive */
@media screen and (width < 960px) { /* เมื่อขนาดความกว้างหน้าจอ < 1000px */
  .part-number{
      font-size: 7vw; /* ปรับให้ข้อความ part two ใหญ่ขึ้นหน่อยเพราะดูเล็กเกินเวลาหน้าจอเล็ก*/
  }
  .part-name{
      font-size: 10vw; /* ปรับให้ข้อความชื่อ part ใหญ่ขึ้นหน่อยเพราะดูเล็กเกินเวลาหน้าจอเล็ก*/
  }
  #img-1{
    width: 95vw;
  }
  .text{
    font-size: 5vw;
  }
  .text-details{
    font-size: 4vw;
  }
  .words{
    font-size: 2.5vw;
  }
  .words-bigger{
    font-size: 2.6vw;
  }
  .book{
    height: 54vw;
  }
  #no-book{
    height: 51vw;
  /* ภาพกองหนังสืออันแรกที่ยังไม่มีหนังสือภาพมันไม่เท่ากับอันอื่น ตอนหน้าจอ < 960px*/
  }
  .book0{
    margin-left: -25.7vw;
  }
  .img-vertical{
    width: 70vw;
  }
  .img-square{
    width: 80vw;
  }
  .img-horizontal{
    width: 95vw;
  }
  #button-phone{
    height: 15vw;
    width: 40vw;
    margin-top: 10rem;
  }
  #employee-img{
    width: 90vw !important;
  }
  .button-ans{
    height: 15vw;
  }
  .img-1-q{
    width: 95vw;
  }
  .words-ans{
    font-size: 2.5vw !important;
  }
  .img-2-q{
    width: 80vw;
  }
  .bias-header{
    font-size: 5.7vw !important;
  }
  .bias-text{
    font-size: 5.3vw !important;
  }
  .bias-details{
    width: 85vw;
  }
  .text-question{
    font-size: 4vw;
  }
  .bias-img{
    width: 90vw;
    margin-bottom: 1rem;
  }
  .bias{
    height: 220% !important;
  }
  #section-13{
    height: 100% !important;
  }
  #position{
    font-size: 2.5vw;
  }
  #com{
    width: 95.5vw;
    margin-left: -16.4%;
    margin-top: -13.6%;
    z-index: 1;
  }
  #idphoto{
    width: calc(1.5vw*3);
    left: 51%;
    bottom: 42.5%;
  }
  #section-35 > div > .bias-img{
    width: 95vw;
  }
  .obj-1{
    width: 42vw;
    top: 5%;
    left: 2%;
  }
  .obj-2{
    width: 42vw;
    top: 8%;
    left: 53%;
  }
  .obj-3{
    width: 36.5vw;
    top: 0%;
    left: 6%;
  }
  .obj-4{
    width: 24vw;
    bottom: 2%;
    left: 62%;
  }
  .obj-5{
    width: 100vw;
    bottom: 30%;
    right: -6%;
  }
  @keyframes obj-5{
    0%, 100%{transform: scale(1, 1);}
    50%{transform: scale(.8, .8); bottom: 30%; right: -6%;}
  }
  .obj-6{
    width: 52vw;
    bottom: 15%;
    left: 0%;
  }
  .obj-7{
    width: 46vw;
    bottom: -2%;
    right: 8%;
  }
  .obj-8{
    width: 64vw;
    bottom: 3.5%;
    right: 15%;
    left: 15%;
  }
  @keyframes obj-8{
    0%, 80%{transform: scale(1, 1); bottom: 3.5%;}
    30%{transform: scale(.85, .85); bottom: -1.5%;}
    50%{transform: scale(.85, .85); bottom: -1.5%;}
  }
  .q{
    grid-template-columns: 1fr;
    width: 50vw;
  }
  .button-to-part1{
    width: 14vw;
    height: 14vw;
  }
  .button-to-part3{
    width: 14vw;
    height: 14vw;
  }
}
@media screen and (width < 500px) {
  #phone-background{
    height: 25vw;
  }
  .words{
    font-size: 2.7vw !important;
  }
  .words-bigger{
    font-size: 3vw;
  }
  .words-ans{
    font-size: 3vw !important;
  }
}
/* related to fade to show gimmick */
.reveal, .reveal-2, .reveal-3, #book-text, .reveal-4{
    position: relative;
    opacity: 0;
  }
  
.reveal.active, .reveal-2.active, .reveal-3.active, #book-text.active, .reveal-4.active{
  opacity: 1;
}
.active.from-bottom {
  animation: fade-bottom 0.5s ease-in;
}
.active.from-top {
  animation: fade-top 0.5s ease-in;
}
.active.from-left {
  animation: fade-left 0.5s ease-in;
}
.active.from-right {
  animation: fade-right 0.5s ease-in;
}
.active.from-bottom-slower {
  animation: fade-bottom-slower .7s ease-in;
}
.active.from-top-slower {
  animation: fade-top-slower .7s ease-in;
}
.active.from-left-slower {
  animation: fade-left-slower .7s ease-in;
}
.active.from-right-slower {
  animation: fade-right-slower .7s ease-in;
}
.active.from-bottom-faster {
  animation: fade-bottom-faster .3s ease-in;
}
.active.from-top-faster {
  animation: fade-top-faster .3s ease-in;
}
.active.from-left-faster {
  animation: fade-left-faster .3s ease-in;
}
.active.from-right-faster {
  animation: fade-right-faster .3s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-top {
  /* this looks really weird but it's here*/
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-bottom-slower {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-top-slower {
  /* this looks really weird but it's here*/
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left-slower {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right-slower {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-bottom-faster {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-top-faster {
  /* this looks really weird but it's here*/
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left-faster {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right-faster {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes shaking-phone{
  0%, 100%{
    transform: translateX(0px) scale(1.3, 1.3);
  }
  1%, 9%, 17%{
    transform: translateX(-4px scale(1.3, 1.3));
  } 
  3%, 11%, 19%{
    transform: translateX(0px) scale(1.3, 1.3);
  }
  5%, 13%, 21%{
    transform: translateX(4px) scale(1.3, 1.3);
  }
  7%, 15%, 23%{
    transform: translateX(0px) scale(1.3, 1.3);
  }
}
@keyframes shaking{
  0%, 100%{
    transform: translateX(0px);
  }
  1%, 9%, 17%{
    transform: translateX(-4px);
  } 
  3%, 11%, 19%{
    transform: translateX(0px);
  }
  5%, 13%, 21%{
    transform: translateX(4px);
  }
  7%, 15%, 23%{
    transform: translateX(0px);
  }
}
@keyframes button-ans{
  0%, 100%{
    transform: rotateZ(0deg);
  }
  25%{
    transform: rotateZ(3deg);
  }
  75%{
    transform: rotateZ(-3deg);
  }
}
