@font-face { font-family: CSPrajad; src: url('../assets/fonts/CSPraJad\ v2.otf'); }
@font-face { font-family: CSPrajadBold; src: url('../assets/fonts/CSPraJad-bold\ v2.otf'); }

::selection{
  background-color: pink;
  color: white;
}
*{
    box-sizing: border-box;
    font-family: CSPrajad;
    text-decoration: none;
    transition: all .5s;
}
body{
    margin: 0;
    padding: 0;
}
:root {
    --blue: #001B7C;
    --red: #FF3A21;
    --white: #ffffff;
}

/* ส่วนของตรงนี้จะ เป็น class ที่ควรทำความเข้าใจเพราะจะใช้ร่วมกันหลายๆ section*/ 
section{
  width: 100%;
  height: 100%; /* ความกว้างยาวของแต่ละ section */
}
.story{
  height: 125% !important; /* ส่วนclassของเนื้อเรื่องให้ยาว 125% ถ้าเลื่อนแล้วแต่ละหน้าดูยาวไปให้ปรับตรงนี้*/
}
.story-book{
  height: 110% !important; /* เนื้อเรื่องตรงกองหนังสือ */
}
.img-vertical{
  width: 30vw; /* ขนาดรูปที่ยาวแนวตั้ง ตอนหน้าจอ < 960px*/
}
.img-1-q{
  width: 70vw;
}

/* จบ ต่อไปไม่ต้องรู้ก็ได้ */

.part-title, .story{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /* แค่ทำให้เนื้อหาอยู่ตรงกลางไม่มีอะไรมาก */
}
.part-number{
  color: white;
  font-size: 4vw;
  font-family:  'Pridi', serif; /* เป็นcss ของ class ที่บอก part ที่เท่าไหร่ อยู่หน้าแรกของเว็บ */
}
.part-name{
  color: var(--red);
  font-size: 7vw;
  font-family:  'Pridi', serif; /* เป็นcss ของ class ที่บอกชื่อ part อยู่หน้าแรกของเว็บ */
}

#section-1{
  background-color: var(--blue); /* สีพื้นหลังของหน้า part two */
}
#section-2{
  height: 200%; /* ความยาวของหน้า "ฉันทำงานมา 5 ปีแล้ว" */
}
#section-11, #section-12, #section-13, #section-22, #section-23, .bias{
  flex-direction: column;
  gap: 2rem; /* section 11 ให้รูปกับข้อความอยู่คนละบรรทัด + กับเว้นช่องว่างระหว่างกัน */
}
#section-12{
  height: 150% !important;
}
#section-13{
  height: 200% !important;
  position: relative;
}
#section-16{
  height: 150% !important;
}
#section-17{
  height: 150% !important;
}
#section-21 > div > img{
  width: 80vw !important;
}
#section-22 .text, #section-23 .text, #section-33 .text{
  color: #D4145A;
}
#section-22, #section-23{
  height: 200% !important;
}
.final-section{
  position: relative;
}
.story-details{
    display: flex;
    justify-content: center;
    align-items: center;  /* ทำไว้เพราะ section 8 อยากให้ตัวอักษรที่อยู่ข้างๆรูปอยู่ตรงกลาง */
}
#img-1{
  width: 70vw; /* width ของรูปแรกที่ฝากสอนงานน้อง */
}
#img-sec22{
  overflow: hidden;
  width: 90vw;
}
#no-book{
  height: 32.3vw; /* ภาพกองหนังสืออันแรกที่ยังไม่มีหนังสือภาพมันไม่เท่ากับอันอื่น */
}
#phone{
  transform: scale(1.3, 1.3);
  position: relative;
  width: 30vw;
  animation: shaking-phone 1.5s ease-in infinite;
}
.book{
  width: auto;
  height: 34vw;
  margin-right: 2rem; /* class ของรูปกองหนังสือที่เพิ่มขึ้นเรื่อยๆ กำหนดความสูง responsive กับความกว้าง และ ความห่างกับตัวอักษร ตอนหน้าจอ < 960px */
}
#phone-background{
  background-image: url(../assets/img/PART2/PART2_5\(croped\).png);
  background-size: 100% 100%;
  width: 80vw;
  height: 30vw;
}

.text{
  font-size: 3.5vw; /* class ของข้อความที่ปรากฎบนหน้าจอไม่ใช่ในกรอบคำพูด */
}
.text-details{
  font-size: 2.5vw;
}
.words-ans{
  font-size: 2vw !important;
  font-weight: 600;
}
.word-bubble{
    height: 100%; /* ถ้าใช้ % จะอิงจาก div แม่ ซึ่ง divแม่จะมีขนาดเท่ากับเนื้อหา เช่นรูป สามารถใช้ vw เพื่อง่ายต่อการทำ responsive ได้ */
    width: 25%;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;/* กรอบคำพูด */
}
#section-16 .word-bubble{
  width: 30%; /* ปรับขนาดสำหรับ section-16 */
  height: 45%;
}
#section-17 .word-bubble{
  width: 28%; /* ปรับขนาดสำหรับ section-17 */
  height: 80%;
}
#section-24 .word-bubble{
  width: 43%; /* ปรับขนาดสำหรับ section-24 */
  height: 50%;
}
#section-30 .text{
  border: solid;
  padding: 1.8rem;
}
.q{
  display: flex;
  gap: 2rem;
}
.button-ans{
  width: 32vw;
  height: 12vw;
  padding: 1rem;
  border-radius: 100px;
  background-color: #D4145A;
  color: var(--white);
  transition: all .13s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-ans:hover{
  background-color: #a1073f;
  animation: button-ans .3s linear infinite;
}
.button-ans-wrap:hover{
  transform: scale(1.1, 1.1);
}
.button-ans-wrap:active{
  transition: all .15s;
  transform: scale(.9, .9);
}
.bias-header{
  color: #D4145A;
}
.bias-text{
  font-size: 3.8vw !important;
}
.words{
  font-size: 1.8vw;
}
.words-bigger{
  font-size: 2vw;
}
#word-buble-1{
    margin: auto;
    left: 0;
    right:0;
    bottom: -80%; /* ปรับตำแหน่งของกรอบคำพูดอันแรก ซึ่ง div แม่ขนาดเท่ารูป รูปจึงเปรียบเสมือน parent ที่ไว้ใช้ ref*/
}
#word-buble-2{
  margin: auto;
  left: -40%;
  right:0;
  bottom: 80%; /* ตำแหน่งสำหรับ section 16 */
}
#word-buble-3{
  margin: auto;
  left: 40%;
  right:0;
  bottom: 80%; /* ตำแหน่งสำหรับ section 17 */
}
#word-buble-4{
  margin: auto;
  left: -80%;
  right:0;
  bottom: 70%; /* ตำแหน่งสำหรับ section 24 */
}
#button-phone{
  width: 25vw;
  height: 10vw;
  background-color: #D9D9D9;
  border-radius: 100px;
  margin-top: 20rem;
  animation: shaking 1.5s ease-in infinite;
  cursor: pointer;
}
#button-phone:hover{
  background-color: #AEAEAE;
}
.button-to-part1{
  display: block;
  background-image: url(../assets/img/PART2/Back-to-part1.png);
  background-size: cover;
  width: 5vw;
  height: 5vw;
  bottom: 5%;
  position: absolute;
  left: 5%;
}
.button-to-part3{
  display: block;
  background-image: url(../assets/img/PART2/Go-to-part3.png);
  background-size: cover;
  width: 5vw;
  height: 5vw;
  bottom: 5%;
  position: absolute;
  right: 5%;
}

/* ในส่วนของข้างล่างจะเป็น อารมณ์คล้ายๆ frame work นั่นแหละ */

/* gradient */
.panel-none{
  display: none;
}
.hide{
  opacity: 0;
}
.bold{
  font-weight: bold;
}
.blue-to-red-gra{
    background: linear-gradient(180deg, var(--blue) 0%, var(--red) 100%);
    width: 100%;
    height: 100%;
}
.red-to-blue-gra{
    background: linear-gradient(180deg, var(--red) 0%, var(--blue) 100%);
    width: 100%;
    height: 100%;
}
.blue-to-white-gra{
    background: linear-gradient(180deg, var(--blue) 0%, var(--white) 100%);
    width: 100%;
    height: 100%;
}

/* responsive */
@media screen and (width < 960px) { /* เมื่อขนาดความกว้างหน้าจอ < 1000px */
  .part-number{
      font-size: 7vw; /* ปรับให้ข้อความ part two ใหญ่ขึ้นหน่อยเพราะดูเล็กเกินเวลาหน้าจอเล็ก*/
  }
  .part-name{
      font-size: 10vw; /* ปรับให้ข้อความชื่อ part ใหญ่ขึ้นหน่อยเพราะดูเล็กเกินเวลาหน้าจอเล็ก*/
  }
  #img-1{
    width: 95vw;
  }
  .text{
    font-size: 5vw;
  }
  .text-details{
    font-size: 4vw;
  }
  .words{
    font-size: 2.5vw;
  }
  .words-bigger{
    font-size: 2.6vw;
  }
  .book{
    height: 54vw;
  }
  #no-book{
    height: 51vw;
  /* ภาพกองหนังสืออันแรกที่ยังไม่มีหนังสือภาพมันไม่เท่ากับอันอื่น ตอนหน้าจอ < 960px*/
  }
  .book0{
    margin-left: -25.7vw;
  }
  .img-vertical{
    width: 50vw;
  }
  #button-phone{
    height: 15vw;
    width: 40vw;
  }
  #employee-img{
    width: 90vw !important;
  }
  #button-phone{
    margin-top: 10rem;
  }
  .button-ans{
    height: 18vw;
    width: 42vw;
  }
  .img-1-q{
    width: 95vw;
  }
  .words-ans{
    font-size: 2.5vw !important;
  }
}
@media screen and (width < 500px) {
  #phone-background{
    height: 25vw;
  }
  .words{
    font-size: 2.7vw !important;
  }
  .words-bigger{
    font-size: 3vw;
  }
  .words-ans{
    font-size: 3vw !important;
  }
}
/* related to fade to show gimmick */
.reveal, .reveal-2{
    position: relative;
    opacity: 0;
  }
  
.reveal.active, .reveal-2.active{
  opacity: 1;
}
.active.from-bottom {
  animation: fade-bottom 0.5s ease-in;
}
.active.from-top {
  animation: fade-top 0.5s ease-in;
}
.active.from-left {
  animation: fade-left 0.5s ease-in;
}
.active.from-right {
  animation: fade-right 0.5s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-top {
  /* this looks really weird but it's here*/
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes shaking-phone{
  0%, 100%{
    transform: translateX(0px) scale(1.3, 1.3);
  }
  1%, 9%, 17%{
    transform: translateX(-4px scale(1.3, 1.3));
  } 
  3%, 11%, 19%{
    transform: translateX(0px) scale(1.3, 1.3);
  }
  5%, 13%, 21%{
    transform: translateX(4px) scale(1.3, 1.3);
  }
  7%, 15%, 23%{
    transform: translateX(0px) scale(1.3, 1.3);
  }
}
@keyframes shaking{
  0%, 100%{
    transform: translateX(0px);
  }
  1%, 9%, 17%{
    transform: translateX(-4px);
  } 
  3%, 11%, 19%{
    transform: translateX(0px);
  }
  5%, 13%, 21%{
    transform: translateX(4px);
  }
  7%, 15%, 23%{
    transform: translateX(0px);
  }
}
@keyframes button-ans{
  0%, 100%{
    transform: rotateZ(0deg);
  }
  25%{
    transform: rotateZ(3deg);
  }
  75%{
    transform: rotateZ(-3deg);
  }
}