@font-face { font-family: CSPrajad; src: url('../assets/fonts/CSPraJad\ v2.otf'); }
@font-face { font-family: CSPrajadBold; src: url('../assets/fonts/CSPraJad-bold\ v2.otf'); }

*{
    box-sizing: border-box;
    font-family: CSPrajad;
    text-decoration: none;
    transition: all .5s;
}
body{
    margin: 0;
    padding: 0;
}
:root {
    --blue: #001B7C;
    --red: #FF3A21;
    --white: #ffffff;
}

section{
  width: 100%;
  height: 100%; /* ความกว้างยาวของแต่ละ section */
}
.story{
  height: 125%; /* ส่วนclassของเนื้อเรื่องให้ยาว 125% ถ้าเลื่อนแล้วแต่ละหน้าดูยาวไปให้ปรับตรงนี้*/
}
.story-book{
  height: 110%; /* เนื้อเรื่องตรงกองหนังสือ */
}
#section-1{
  background-color: var(--blue); /* สีพื้นหลังของหน้า part two */
}
#section-2{
  height: 200%; /* ความยาวของหน้า "ฉันทำงานมา 5 ปีแล้ว" */
}
#section-11, #section-12, #section-13{
  flex-direction: column;
  gap: 2rem; /* section 11 ให้รูปกับข้อความอยู่คนละบรรทัด + กับเว้นช่องว่างระหว่างกัน */
}
#section-13{
  max-height: 70vw;
}
.story-details{
    display: flex;
    justify-content: center;
    align-items: center;  /* ทำไว้เพราะ section 8 อยากให้ตัวอักษรที่อยู่ข้างๆรูปอยู่ตรงกลาง */
}
#img-1{
    width: 100%; /* width ของรูปแรกที่ฝากสอนงานน้อง */
}
#no-book{
  height: 51vw;
  margin-left: -25vw;
/* ภาพกองหนังสืออันแรกที่ยังไม่มีหนังสือภาพมันไม่เท่ากับอันอื่น ตอนหน้าจอ < 960px*/
}
#phone{
  transform: scale(1.2, 1.2);
}
.phone-shake{
  animation: shaking-phone 1.5s ease-in infinite;
}
.img-vertical{
  width: 50vw; /* ขนาดรูปโพสอิท  ตอนหน้าจอ < 960px*/
}
.book{
  width: auto;
  height: 54vw; /* class ของรูปกองหนังสือที่เพิ่มขึ้นเรื่อยๆ กำหนดความสูง responsive กับความกว้าง และ ความห่างกับตัวอักษร ตอนหน้าจอ < 960px */
}
.book0, .books{
  margin-right: 1.5rem;
}
.book0{
  margin-left: -25.7vw;
}
#phone-background{
  background-image: url(../assets/img/PART2/PART2_5\(croped\).png);
  background-size: 100% 100%;
  width: 90vw;
  overflow: hidden;
}
.part-title, .story{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* แค่ทำให้เนื้อหาอยู่ตรงกลางไม่มีอะไรมาก */
}
.part-number{
    color: white;
    font-size: 4vw;
    font-family:  'Pridi', serif; /* เป็นcss ของ class ที่บอก part ที่เท่าไหร่ อยู่หน้าแรกของเว็บ */
}
.part-name{
    color: var(--red);
    font-size: 7vw;
    font-family:  'Pridi', serif; /* เป็นcss ของ class ที่บอกชื่อ part อยู่หน้าแรกของเว็บ */
}
.text{
    font-size: 3vw; /* class ของข้อความที่ปรากฎบนหน้าจอไม่ใช่ในกรอบคำพูด */
}
.word-bubble{
    height: 100%; /* ถ้าใช้ % จะอิงจาก div แม่ ซึ่ง divแม่จะมีขนาดเท่ากับเนื้อหา เช่นรูป สามารถใช้ vw เพื่อง่ายต่อการทำ responsive ได้ */
    width: 25%;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw; /* กรอบคำพูด */
}
#word-buble-1{
    margin: auto;
    left: 0;
    right:0;
    bottom: -80%; /* ปรับตำแหน่งของกรอบคำพูดอันแรก ซึ่ง div แม่ขนาดเท่ารูป รูปจึงเปรียบเสมือน parent ที่ไว้ใช้ ref*/
}

/* responsive */
@media screen and (width < 960px) { /* เมื่อขนาดความกว้างหน้าจอ < 1000px */
    .part-number{
        font-size: 7vw; /* ปรับให้ข้อความ part two ใหญ่ขึ้นหน่อยเพราะดูเล็กเกินเวลาหน้าจอเล็ก*/
    }
    .part-name{
        font-size: 10vw; /* ปรับให้ข้อความชื่อ part ใหญ่ขึ้นหน่อยเพราะดูเล็กเกินเวลาหน้าจอเล็ก*/
    }
    .text{
      font-size: 4.5vw;
    }
}
@media screen and (width > 960px) { /* เมื่อขนาดความกว้างหน้าจอ > 1080px */
    .word-bubble{
        font-size: 1.3rem; /* ก็คือเวลาดูหน้าจอกว้างๆจะ fixed ไว้ที่ 1.5 rem แต่เวลา < 1080 จะให้มันอิงจาก css ด้านบนแทน */
    }
    .book{
      height: 34vw;
      margin-right: 2rem; /* ก็คือเวลาดูหน้าจอกว้างๆจะ fixed กองหนังสือเอาไว้ให้เล็กลงหน่อย แต่เวลา < 1080 จะให้มันอิงจาก css ด้านบนแทน */
    }
    #no-book{
      height: 32.3vw; /* ภาพกองหนังสืออันแรกที่ยังไม่มีหนังสือภาพมันไม่เท่ากับอันอื่น */
      margin-left: -15vw;
    }
    .img-vertical{
      width: 30vw;
    }
    .book0{
      margin-left: -17.3vw;
    }
}

/* ในส่วนของข้างล่างจะเป็น อารมณ์คล้ายๆ frame work นั่นแหละ */

/* gradient */
.blue-to-red-gra{
    background: linear-gradient(180deg, var(--blue) 0%, var(--red) 100%);
    width: 100%;
    height: 100%;
}
.red-to-blue-gra{
    background: linear-gradient(180deg, var(--red) 0%, var(--blue) 100%);
    width: 100%;
    height: 100%;
}
.blue-to-white-gra{
    background: linear-gradient(180deg, var(--blue) 0%, var(--white) 100%);
    width: 100%;
    height: 100%;
}

/* related to fade to show gimmick */
.reveal, .reveal-2{
    position: relative;
    opacity: 0;
  }
  
.reveal.active, .reveal-2.active{
  opacity: 1;
}
.active.from-bottom {
  animation: fade-bottom 0.5s ease-in;
}
.active.from-top {
  animation: fade-top 0.5s ease-in;
}
.active.from-left {
  animation: fade-left 0.5s ease-in;
}
.active.from-right {
  animation: fade-right 0.5s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-top {
  /* this looks really weird but it's here*/
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes shaking-phone{
  0%, 100%{
    transform: translateX(0px);
  }
  1%, 9%, 17%{
    transform: translateX(-4px);
  } 
  3%, 11%, 19%{
    transform: translateX(0px);
  }
  5%, 13%, 21%{
    transform: translateX(4px);
  }
  7%, 15%, 23%{
    transform: translateX(0px);
  }
}