@font-face { font-family: CSPrajad; src: url('../assets/fonts/CSPraJad v2.otf'); }
@font-face { font-family: CSPrajadBold; src: url('../assets/fonts/CSPraJad-bold v2.otf'); }

/* Root */
:root {
    --blue: #001B7C;
    --red: #FF3A21;
    --redHover: #d61900;
    --redActive: #ff6b58;
    --white: #ffffff;
}

*{
    box-sizing: border-box;
    font-family: CSPrajad;
    text-decoration: none;
    transition: transform .5s;
    transition: opacity .5s;
}

html,body{margin: 0; padding: 0;scroll-behavior: smooth; max-width:100%; overflow-x:hidden;}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 15rem;
}

.none{display: none;}

.bold{display: inline; font-family: CSPrajadBold; margin: 0;}

/* Section */
.part-number{
    color: var(--white);
    font-size: 4.5rem;
    font-family:  'Pridi', serif;
  }
.part-name{
    color: var(--red);
    font-size: 7.5rem;
    font-family:  'Pridi', serif;
}
.part-title{
    background-color: var(--blue);
    height: 100%;
}

.blue-to-white-gra{background: linear-gradient(180deg, var(--blue) 0%, var(--white) 100%);}
.white-to-blue-gra{background: linear-gradient(180deg, var(--white) 0%, var(--blue) 100%);}
.text{font-size: 3rem;}
.responseText,.responseCircleText {font-size: 2.5rem;}
.circleText{font-size: 1.6rem;}
.badText{font-size: 1.5rem;}
.goodText{font-family: CSPrajadBold; font-size: 1.3rem;}
.endText{font-size: 1.8rem; color: white;}

.choices-grid-1{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1.5rem;
    padding: 1.5rem;
}
.choices-grid-2{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    padding: 1vh 8rem;
}
.choices-grid-3 {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    padding: 3rem 8rem 0;
  }
.choices-button{
    height: auto;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--red);
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
}
.choices-button:hover{background-color: var(--redHover);}
.choices-button:active{background-color: var(--redActive);}

.response{
    color: #000000;
    box-sizing: border-box;
    width: 50rem;
    height: auto;
    padding: 3rem 5rem;
    border: 0.05rem solid rgb(0, 0, 0);
}
.responseCircle{
    width: 100%;
    height: 40rem;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 4rem;
}

.circle{
    position: absolute;
    height: 45%;
    width: 14%;
    box-sizing: border-box;
    border: 0.05rem solid rgb(0, 0, 0);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--white);
    z-index: 10;
    padding: 2rem 0.5rem;
}
#circle-1 {left: 10%; margin-top: -10%;}
#circle-2 {right: 12%; margin-top: -16%; height: 60%; width: 16%;}
#circle-3 {left: 20%; margin-top: -10%; height: 40%; width: 17%;}
#circle-4 {right: 10%; margin-top: -10%;}
#circle-5 {right: 22%; margin-top: -10%; height: 40%; width: 16%;}

.badword{
  position: absolute;
  box-sizing: border-box;
  border: 0.05rem solid rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 10;
  background: white;
  height: 16%;
  width: 16%;
  border-radius: 50%;
}
#badword-1 {left: 17%; margin-top: 13%;}
#badword-2 {left: 35%; margin-top: 8%;}
#badword-3 {left: 15%; margin-top: -34%;}
#badword-4 {left: 43%; margin-top: -37%;}
#badword-5 {left: 49%; margin-top: 16%;}

#topic {color: #b00000; font-family: CSPrajadBold; font-size: 5rem;}

.goodTextGrid {
    position: absolute;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    align-items: center;
    width: 19%;
    height: 12rem;
    gap: 1rem;
    margin-top: -10%;
    left: 43%;
}

.endSection{
    background: #001B7C;
    justify-content: space-between;
}
.endButtonFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.endButton{
    background: var(--red);
    width: 8rem;
    height: 8rem;
    border-radius: 3rem;
    border: none;
    padding: 1.5rem;
    cursor: pointer;
}
.endButton:hover{background-color: var(--redHover);}
.endButton:active{background-color: var(--redActive);}
.endSquare{
    background: var(--white);
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 20%;
    padding: 0.5rem;
}

/*Specific Section*/
#section-3{height: 150%;}
#section-8{height: 150%;}
#section-12{height: 150%;}
#section-15{height: 150%;}
#section-18{height: 180%;}
#section-35{height: 150%;}
#section-36{height: 180%;}
#section-46{height: 65%;}
#section-47{height: 35%;}

/*Image*/
#img-1 {width: 80%;}
#img-2 {width: 50%;}
#img-3 {width: 100%;}
#img-4 {width: 50%; margin-left: -25rem;}
#img-5 {width: 50%; margin-left: 25rem;}
#img-6 {width: 40%;}
#img-7 {width: 100%;}
#img-8 {width: 90%;}
#img-9 {width: 100%;}
#img-10 {width: 90%;}
#img-11 {width: 70%;}
#img-12 {width: 80%;}
#img-13 {width: 100%;}
#img-14 {width: 55%;}
#img-15 {width: 90%;}
#img-16 {width: 60%;}
#img-17 {width: 50%;}
#img-18 {width: 70%;}
#img-19 {width: 100%;}

/* Animation */
.reveal {position: relative; opacity: 0;}
.reveal.active {opacity: 1;}
.active.from-bottom {animation: fade-bottom 0.5s ease-in;}
.active.from-top {animation: fade-top 0.5s ease-in;}
.active.from-left {animation: fade-left 0.5s ease-in;}
.active.from-left-slower {animation: fade-left 1.5s ease-in;}
.active.from-right {animation: fade-right 0.5s ease-in;}
.active.from-right-slow {animation: fade-right 1s ease-in;}
.active.from-right-slower {animation: fade-right 1.5s ease-in;}
.active.from-right-slowest {animation: fade-right 2s ease-in;}
.active.from-right-snail {animation: fade-right 2.5s ease-in;}
.active.from-right-me-when-working-speed {animation: fade-right 1000s ease-in;}/* Don't use this one*/

.revealAbs {opacity: 0;}
.revealAbs.active {opacity: 1;}

@keyframes fade-bottom {
    0% {transform: translateY(50px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
@keyframes fade-top {
    0% {transform: translateY(-100px);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
@keyframes fade-left {
    0% {transform: translateX(-100px);opacity: 0;}
    100% {transform: translateX(0);opacity: 1;}
}
@keyframes fade-right {
    0% {transform: translateX(100px);opacity: 0;}
    100% {transform: translateX(0);opacity: 1;}
}

/* responsive */
@media screen and (width < 1310px) {.text{font-size: 2.8rem;}}

@media screen and (width < 1200px) {
    .circleText{font-size: 1rem;}
    .goodText{font-size: 1.25rem;}
    .goodTextGrid{left: 45%;}
}

@media screen and (width < 1200px) {
    section{height: 80%; padding: 0 7rem;}
    .badText{font-size: 1rem;}
}

@media screen and (width < 960px) {
    section{height: 80%; padding: 0 4rem;}
    .part-number{font-size: 5rem;}
    .part-name{font-size: 8rem;}
    .text{font-size: 2rem;}
    .response{width: 90%; font-size: 1.5rem; padding: 1rem 2rem;}
    .responseCircle{width: 100%; height: 40rem;}
    .responseText{font-size: 2rem;}
    .responseCircleText{font-size: 2rem;}
    .circleText{font-size: 1.5rem;}
    .goodText{font-size: 1.25rem;}
    .endText{font-size: 1.5rem;}

    .endButton{
        width: 6rem;
        height: 6rem;
        padding: 1.25rem;
        border-radius: 2.5rem;
        }
    

    .choices-grid-2 {padding: 1vh 2rem;}
    .choices-grid-3 {padding: 3rem 5rem 0;}

    .goodTextGrid{
        height: 10rem;
        gap: 1rem;
        margin-top: -13%;
        left: 45%;
    }

    #section-3{height: 110%;}
    #section-8{height: 110%;}
    #section-12{height: 90%;}
    #section-15{height: 90%;}
    #section-18{height: 120%;}
    #section-35{height: 120%;}
    #section-36{height: 120%;}
    #section-46{height: 35%;}
    #section-47{height: 20%;}

    #img-1 {width: 60%;}
    #img-2 {width: 60%;}
    #img-4 {margin-left: -10rem;}
    #img-5 {margin-left: 10rem;}
    #img-6 {width: 60%;}
    #img-9 {width: 80%;}
    #img-16 {width: 70%;}
    #img-17 {width: 55%;}
    #img-18 {width: 90%;}

    #circle-5 {right: 20%; margin-top: -10%; height: 40%; width: 20%;}

    #topic {font-size: 3rem;}
}
@media screen and (width < 840px){
    .goodTextGrid{
        width: 20%;
        height: 7rem;
    }
    .goodText{font-size: 1rem;}
    .circleText {font-size: 1rem;}
}

@media screen and (width < 640px){
    section{height: 50%; padding: 0 1.5rem;}

    .part-number{font-size: 2.5rem;}
    .part-name{font-size: 4rem;}
    .text {font-size: 2rem;}
    .circleText{font-size: 1rem;}
    .responseText, .responseCircleText{font-size: 1.5rem;}
    .badText {font-size: 0.5rem;}
    .endText{font-size: 1.5rem;}

    .responseCircle {height: 25rem;}

    .endButton{
        width: 5rem;
        height: 5rem;
        padding: 1rem;
        border-radius: 2rem;
    }

    #img-1 {width: 75%;}
    #img-2 {width: 80%;}
    #img-4 {width: 60%; margin-left: -7rem;}
    #img-5 {width: 60%; margin-left: 7rem;}
    #img-6 {width: 80%;}
    #img-14 {width: 65%;}
    #img-17 {width: 50%;}

    .choices-grid-1{
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 1rem;
        padding: 1rem;
    }
    .choices-grid-3 {padding: 3rem 2rem 0;}

    .goodTextGrid{
        width: 30%;
        left: 40%;
        margin-top: -20%;
        height: 10rem;
    }

    .choices-button{font-size: 1.25rem;}

    #circle-1 {left: 10%; margin-top: -35%; height: 100%; width: 24%;}
    #circle-2 {right: 9%; margin-top: -45%; height: 120%; width: 30%;}
    #circle-3 {left: 18%; margin-top: -9%; height: 65%; width: 21%;}
    #circle-4 {right: 10%; margin-top: -10%; height: 80%; width: 20%;}
    #circle-5 {margin-top: -13%; height: 50%; width: 25%;}

}
@media screen and (width < 580px){.goodTextGrid{height: 8rem;}}
@media screen and (width < 500px){.goodTextGrid{height: 6rem;} .goodText{font-size: 0.9rem;}}

@media screen and (width < 440px){
    .part-number{font-size: 2rem;}
    .part-name{font-size: 3.5rem;}
    .text {font-size: 1.25rem;}
    .circleText {font-size: 0.8rem;}
    .responseText, .responseCircleText{font-size: 1rem;}
    .badText {font-size: 0.4rem;}
    .goodText{font-size: 0.8rem;}
    .endText{font-size: 1rem;}


    #section-35{height: 80%;}
    #section-36{height: 80%;}

    #img-1 {width: 100%;}
    #img-14 {width: 80%;}
    #img-16 {width: 80%;}
    #img-17 {width: 70%;}

    #topic {font-size: 2rem;}
    
    .circle{padding: 2rem 0.3rem;}

    .responseCircle{width: 100%; height: 20rem;}
    
    .choices-button {font-size: 0.8rem;}

    .goodTextGrid {margin-top: -23%;}
}

@media screen and (width < 360px){
    .goodTextGrid {height: 4.8rem;}
    .goodText{font-size: 0.7rem;}

}